h1, h2, h3, h4, h5, h6
{
    font-family: "dejavu sans", helvetica , arial;
    font-weight: normal;    
}

h1
{
    font-size:48pt;
}

.section h2
{
    font-size:36pt;
    color:#444;
    padding-top:32px;
    border-top:1px solid #aaa;
    background: url("../images/section_background.png") top center no-repeat #f0f0f0;
    text-align: center;
    text-shadow: 1px 1px 1px #333;
}

.section hr
{
    border: 0;
    background: url("../images/hr.png") top left repeat-x;
    margin-bottom:1em;
}

.section h3
{
    margin-top:23pt;
    margin-bottom:11.5pt;
    font-size:16pt;
}

.section h3.mini
{
    font-weight: bolder;
    font-size: 10pt;
    margin:0;
    border-bottom:1px solid #ccc;
}

.section
{
    font-size:11.5pt;
    font-family: helvetica, arial;
    line-height:1.5;
    padding-bottom:96px;
    background: url("../images/stripes.png") bottom left repeat-x #f0f0f0;
}

.section p
{
    padding-left:1em;
    padding-right:1em;
    padding-top:5.75pt;
    color:#222;
}

.section p a
{
    font-weight: bolder;
    color: DarkBlue;
    text-decoration: none;
}

.section p a:hover
{
    color: Blue;
    text-decoration: underline;
}

.section p code, .section pre
{
    font-family: "consolas", "courier new", mono;
    color:#444;
}

.center
{
    text-align: center;
}

.gray_border
{
    border:1px solid #ccc;
}

code.side
{
    font-size:10pt;

}

div.sidecode p
{
    border-bottom:1px solid #ccc;
}

.section ul
{
    padding-top:5.75pt;
    padding-left:3em;
}
.section ul li
{
    list-style-type: disc;
    padding-left:0.5em;
}